- if controller_name == 'posts' and action_name == 'show'
  .nav
    #{button_to "Back", course_path(@course), method: :get, :class => "button btn btn-primary fs-6 fw-bold"}
    .col
      = render @course

.card
  .card-header
    .nav
      .col
        .d-flex.float-start
          #{link_to post.title, course_post_path(@course, post), method: :get, :class => "text-decoration-none fs-4"}
      .col
        .d-flex.float-end
          = post.awards_to_s
  .card-body
    = post.body
  .card-footer.text-muted
    .nav
      .col
        .d-flex.float-start
          #{button_to post.user.full_name_to_s, user_path(post.user), method: :get, :class => "btn btn-link btn-sm text-decoration-none"}
          - if post.user != current_user
            #{button_to post.award_bool_to_s(current_user), course_post_award_path(@course, post), method: :put, :class => "btn btn-link btn-sm text-decoration-none"}
      - if post.user == current_user
        .col
          .d-flex.float-end
            %form(action="javascript:void(0)") 
              %button.form.btn.btn-link.btn-sm.text-decoration-none.fw-bold{"data-bs-target" => "#ajax_popup", "data-bs-toggle" => "modal", :onclick => "ajax_get_page('GET', '#{edit_course_post_path(@course, post, :yeild_only => true)}', 'ajax_content')"} Edit
            #{button_to "Delete", [@course, post], method: :delete, :class => "btn btn-link btn-sm text-decoration-none fw-bold"}
            - if action_name != 'index'
              = render 'layouts/ajax_popup'
%br/
- if controller_name == 'posts' and action_name == 'show'
  = render :template => 'comments/index', :locals => {:course_id => post.course.id, :post_id => post.id}