<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="<%= landing_path %>">Cobbl</a>
    </div>
    <% if current_user.nil? %>
        <% unless current_page?(register_path) %>
            <li class="nav-item"> <button class="btn nav-link text-primary" id="" data-bs-toggle="modal" data-bs-target="#ajax_popup" onclick="ajax_get_page('GET', '<%= register_path %>?yeild_only=true', 'ajax_content')">Register</button> </li>
        <% end%>
        <% unless current_page?(login_path) %>
            <li class="nav-item"> <button class="btn nav-link text-primary" id="" data-bs-toggle="modal" data-bs-target="#ajax_popup" onclick="ajax_get_page('GET', '<%= login_path %>?yeild_only=true', 'ajax_content')">Login</button> </li>
        <% end%>
        <%= render 'layouts/ajax_popup' %>
    <% else %>
        <li class="nav-item"> <button class="btn nav-link text-primary" onclick="window.location.href='<%= user_path(current_user.id) %>'">Account</button> </li>
        <li class="nav-item"> <button class="btn nav-link text-primary" onclick="window.location.href='<%= logout_path %>'">Logout</button> </li>
    <% end%>
    <%= javascript_include_tag :ajax_get_page %>
</nav>