<!DOCTYPE html>
<html>
  <head>
    <title>INFS3202</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= current_user.first_name if current_user %>
    <%= link_to "Log out", logout_path, method: "delete" %>
    <%= yield %>
  </body>
</html>
